EasyClientTest/bin/Debug/netcoreapp3.1/EasyClientTest.dll
EasyClientTest/bin/
IOCPServer/bin/
EasyClientTest/obj/Debug/netcoreapp3.1/EasyClientTest.AssemblyInfoInputs.cache
EasyClientTest/obj/
IOCPServer/obj/
